name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *" # https://crontab.guru/#0_2_*_*_*

env:
  REGISTRY: ghcr.io

jobs:
  docker:
    name: "Docker Image"
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: v0.6.0-rc1
          driver-opts: image=moby/buildkit:v0.9.0-rc1
          buildkitd-flags: --debug

      - name: Login to Github Container
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/kamontat/freqtrade
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=ref,event=branch
            type=sha
          flavor: |
            latest=false
      - name: Build Docker image with Postgres
        uses: docker/build-push-action@v2
        with:
          context: dockers
          file: dockers/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.data.outputs.docker_image }}
          cache-from: type=gha
          cache-to: type=gha
